apiVersion: apps/v1
kind: Deployment
metadata:
  name: k3s-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k3s-config
  template:
    metadata:
      labels:
        app: k3s-config
    spec:
      containers:
      - name: k3s-config
        image: rancher/k3s:v1.21.5-k3s1
        command:
          - /bin/sh
          - -c
          - |
            echo "Setting custom configuration"
        volumeMounts:
          - name: k3s-config-volume
            mountPath: /etc/rancher/k3s/config.yaml
            subPath: config.yaml
      volumes:
        - name: k3s-config-volume
          configMap:
            name: k3s-configmap
